
html, body {
    background-color:khaki;/* #343a40 =dark; rgb(80,255,80); */
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 42px; /*63px;*/ /*84px;*/
    font-weight: bold;
}

 .links > a {
    color:black; /*#636b6f;*/
    padding: 0 25px;
    font-size: 13px;
    /*font-weight: 600;*/
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:bold;
}

 .links > a:hover {color:red;font-weight:bold;text-decoration: none;}

.m-b-md {
    margin-bottom: 20px;
}

